[Unit]
Description=Bazarr Service
After=network-online.target inbox.mount

[Service]
User=bazarr
Group=bazarr
Type=simple
ExecStart=/usr/bin/python /usr/lib/bazarr/bazarr.py --no-update --config /var/lib/bazarr
Restart=on-failure
SyslogIdentifier=bazarr

[Install]
WantedBy=mult-user.target
