[Unit]
Description=Homer Daemon Service
After=network.target

[Service]
User=camilor
Group=camilor
WorkingDirectory=/home/camilor/homer
ExecStart=/usr/bin/python -m http.server 8000
ExecStop=/bin/kill `/bin/ps aux | /bin/grep http.server | /bin/grep -v grep | /usr/bin/awk '{ print $2 }'`
Restart=on-abort

[Install]
WantedBy=multi-user.target
