[Unit]
Description=Uptime-Kuma - A free and open source uptime monitoring solution
Documentation=https://github.com/louislam/uptime-kuma
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/lib/node_modules/uptime-kuma/
ExecStart=/usr/lib/node server/server.js -e UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
