[Unit]
Description=Servarr timer
After=syslog.target network-online.target inbox.mount

[Timer]
User=camilor
Group=camilor
OnBootSec=3min
Unit=servarr.service

[Install]
WantedBy=multi-user.target
