<Config>
  <LogLevel>info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>17169a82647743f7bf5a8ea91a8782e1</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>External</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>main</Branch>
  <SslCertHash></SslCertHash>
  <AnalyticsEnabled>False</AnalyticsEnabled>
</Config>