[Unit]
Description=radarr Service
After=syslog.target network-online.target inbox.mount

[Service]
User=radarr
Group=radarr
Type=simple
ExecStart=/usr/lib/radarr/bin/Radarr -nobrowser -data=/var/lib/radarr
Restart=on-failure
SyslogIdentifier=radarr

[Install]
WantedBy=multi-user.target
