[Unit]
Description=qBittorrent Daemon Service
After=network-online.target inbox.mount

[Service]
User=camilor
Group=camilor
ExecStart=/usr/bin/qbittorrent-nox
ExecStop=/usr/bin/killall -w qbittorrent-nox

[Install]
WantedBy=multi-user.target
